{% extends 'base.html' %}
{% include 'nav.html' %}

{% block content %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridWeek',
      height: "60vh",
      events: "{{ url_for('dashboard.get_reservations') }}}"
    });
    calendar.render();
  });

</script>

<main style="margin-top: 58px">
    <div class = "container pt-4">
      <section class="mb-4">
        <div class="card">
            <div class="card-header text-center py-3">
                <h5 class="mb-0 text-center"><strong>Booking Calendar</strong></h5>
            </div>
            <div class="card-body">
                <div id="calendar"></div>
            </div>
        </div>
      </section>      
    </div>
</main>
{% endblock content %}